:root{
    --back: #f6f8fa;
    --border: #c9d1d9;
    --header: #c9d1d9;
    --text: #1F2328;
    --stage1: #0e4429;
    --stage2: #006d32;
    --stage3: #26a641;
    --stage4: #39d353;
}

body {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    font-family: BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    background-color: var(--back);
    color: var(--text)
}

svg {
    cursor: pointer;
}

header,
footer,
main {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 50px;
}

header,
footer {
    text-align: center;
    background-color: var(--header);
}

header{
    border-bottom: 1px solid var(--border);
}

footer{
    border-top: 1px solid var(--border);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;

  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--back);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.content{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    gap:50px
}
#git{
    margin: 0 auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid var(--border);
    height: 143px;
    width: 750px;
    display: flex;
    flex-flow: row nowrap;
}

#days{
    width: 28px;
    display: flex;
    flex-flow: column nowrap;
    margin: 18px 5px;
    justify-content: space-between;
    height: 82px;

}

#months{
    display: flex;
    flex-flow: row nowrap;
    height: 18px;
    justify-content: space-between;
}

#block_item{
    width: 693px;
    height: 82px;
    display: flex;
    flex-flow: column wrap;
    gap: 3px;
    border-radius: 2px;
    margin: 2px;
}

.item{
    width: 9px;
    height:9px;
    border-radius: 2px;
    background-color: var(--header);
}

.item.stage1{
    background-color: var(--stage1);
}

.item.stage2{
    background-color: var(--stage2);
}

.item.stage3{
    background-color: var(--stage3);
}

.item.stage4{
    background-color: var(--stage4);
}

#less_more{
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    gap: 3px;
    font-size: 14px;
    margin-top: 10px;
    align-items: baseline;
}
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.rsschool,
.github {
    width: 5rem;
}

.image_github {
    width: 3rem;
    height: 3rem;
    background-size: 100% 100%;
}
