body {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    font-family: BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

svg {
    cursor: pointer;
}

header,
footer,
main {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 50px;
}

header {
    text-align: center;
}
.content{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    gap:50px
}
#git{
    margin: 0 auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #c9d1d9; 
    height: 143px;
    width: 750px;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.rsschool,
.github {
    width: 5rem;
}

.image_github {
    width: 3rem;
    height: 3rem;
    background-size: 100% 100%;
}
